* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.red-bg {
    background-color: #FF0000;
}
.green-bg {
    background-color: green;

}
.yellow-bg {
    background-color: yellow;
}

.model {
    height: 100vh;
    position: relative;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
